# Upstream blocks for backend services
upstream akeneo_backend {
 server  ${AKENEO_PHP_FPM_PORT};
}

# Server block for Akeneo
server {
 listen 80;
 server_name ${AKENEO_DOMAIN};
 return 301 https://$host$request_uri;
}

server {
  listen 443 ssl;
  http2 on;
  server_name ${AKENEO_DOMAIN};

  root ${AKENEO_DIRECTORY};
  index index.php;
  client_max_body_size 25m;

  access_log /var/log/nginx/akeneo.access.log;
  error_log  /var/log/nginx/akeneo.error.log;

  # TLS configuration
  ssl_certificate /etc/nginx/certs/live/${AKENEO_DOMAIN}/fullchain.pem;
  ssl_certificate_key /etc/nginx/certs/live/${AKENEO_DOMAIN}/privkey.pem;
  ssl_trusted_certificate /etc/nginx/certs/live/${AKENEO_DOMAIN}/chain.pem;
  ssl_protocols TLSv1.2 TLSv1.3;

  ssl_ciphers 'ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-CHACHA20-POLY1305:ECDHE-RSA-CHACHA20-POLY1305:ECDHE-ECDSA-AES256-SHA384:ECDHE-RSA-AES256-SHA384';
  ssl_prefer_server_ciphers on;
  ssl_session_cache shared:SSL:50m;
  ssl_session_timeout 1d;

  location / {
    try_files $uri /index.php$is_args$args;
  }

  location ~ \.php$ {
    include fastcgi_params;
    fastcgi_pass akeneo_backend;
    fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
    fastcgi_param HTTP_AUTHORIZATION $http_authorization;
    fastcgi_intercept_errors on;
  }

  location /bundles {
    autoindex off;
  }
}
