server {
    listen 80;
    listen [::]:80;
    server_name ${AKENEO_DOMAIN};
    root ${AKENEO_DIRECTORY};
    index index.php index.html;

    access_log /var/log/nginx/access.log;
    error_log  /var/log/nginx/error.log;

    location / {
        try_files $uri $uri/ =404;
    }

    location ~ \.php$ {
        include fastcgi_params;
        fastcgi_pass ${AKENEO_PHP_FPM_PORT};
        fastcgi_index index.php;
        fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
    }

    # Optional: deny access to hidden or sensitive files
    location ~ /\. {
        deny all;
    }
}
